<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Series Reminder{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block head_js %}{% endblock %}
    </head>
    <body>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ logout_path() }}">Logout</a>
        {% endif  %}
        <div class="main_container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="dist/bundle.js" />
    </body>
</html>
