{% extends 'base.html.twig' %}

{% block body %}
<div>Hello World!</div>

    <div class="search-container">
        <input id="search_input"/>
        <div id="search_result">
        </div>
    </div>
    <div class="my-series">
        {{ render(controller('AppBundle\\Controller\\SeriesController::userSeries')) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/dist/index.bundle.js" />
{% endblock %}



