{% extends 'base.html.twig' %}

{% block body %}

    {% if errors %}
        <div>{{ errors.messageKey }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <input type="text" name="_username" id="email" value="{{ username }}">
        <input type="password" name="_password" id="password">
        <input type="submit" value="Sign In">
    </form>
{% endblock %}